body{
	background-color: rgba(120,0,255,0.9);

}

.container{
	height: 100vh!important;
	width: 100vw!important;

}


.card{
	border-radius: 20px;
	box-shadow: 0 0px 20px black!important;
	
	

	}

img{
	border-radius: 50%;
	height:100%;
	width: 100%;
	margin: 15px 0;
	box-shadow: 0 0 10px black;
	
	
	
}

.img-container{
	height: 250px;
	width: 250px;
	margin: auto;

}

.music_control{
	width: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	margin-top: 53px; 
}

.music_control .fas{
	color: #111111;
	font-size: 20px;
	cursor: pointer;
	filter: drop-shadow(0 0 8px black);
}


.music_control .main-button{
	border-radius: 50%;
	height: 50px;
	width: 50px;
	background-color: #111;
	color: #f6f6f6;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.music_control .fa-play:hover ,{
	background-color: #f6f6f6;
	color: #111;
	box-shadow: 0 0 10px black;
}

.music_control .fas:hover{
	color: grey;
}

.anime{
	animation: rotate_me 150s linear infinite;
}

@keyframes rotate_me{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}

} 









