body{
	background-color: rgba(120,0,255,0.9);

}


.card{
	border-radius: 4%;
	box-shadow: 0 0px 20px black!important;
	



}

.img-style{
	border-radius: 50%;
	height:100%;
	width: 100%;
	margin: 15px 0;
	box-shadow: 0 2px 18px black;
	object-fit: cover;
	
}

.img-container{
	height: 220px;
	width: 220px;
	margin: auto;
}

.music_control{
	width: 160px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	margin-top: 55px; 
}

.music_control .fas{
	color: #111111;
	font-size: 16px;
	cursor: pointer;
	filter: drop-shadow(0 0 8px black);
}


.music_control .main-button{
	border-radius: 50%;
	height: 46px;
	width: 46px;
	background-color: #111;
	color: #f6f6f6;
	font-size: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.music_control .fa-play:hover ,{
	background-color: #f6f6f6;
	color: #111;
	box-shadow: 0 0 10px black;
}

.music_control .fas:hover{
	color: grey;
}

.anime{
	animation: rotate_me 60s linear infinite;
}

@keyframes rotate_me{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}

} 


/*Responsive*/
@media (max-width: 768px){
	.row{
		margin:0 auto;
	}
}



